@media only screen and (max-width: 1110px) {
  .container .header header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 662px) {
  .container .header header .header-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
  }
  .container .header header .header-right .same1 {
    width: 100%;
  }
}

@media only screen and (max-width: 440px) {
  .container .header header .header-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .header header .header-left .dema1 {
    display: none;
  }
}

@media only screen and (max-width: 1094px) {
  .container .navbar nav {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 560px) {
  .container .navbar nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .navbar nav ul li {
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  .container .navbar {
    background-color: white;
    -webkit-box-shadow: 0px 5px 10px 0px #e5e5e5;
            box-shadow: 0px 5px 10px 0px #e5e5e5;
    top: 0;
    right: 0%;
    width: 100%;
    z-index: 222;
  }
  .container .navbar .mobile-nav ul li {
    cursor: pointer;
    font-weight: 600;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    position: relative;
  }
  .container .navbar .mobile-nav ul li::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    width: 0px;
    height: 3px;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    background: #F07C00;
    z-index: 20;
    -webkit-transition: ease .40s;
    transition: ease .40s;
  }
  .container .navbar .mobile-nav ul li:hover::after {
    width: 100%;
  }
  .container .navbar .mobile-nav ul li:nth-child(1) {
    color: #F07C00;
  }
  .container .navbar .mobile-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    background-color: white;
    -webkit-box-shadow: 0px 10px 10px 0px black;
            box-shadow: 0px 10px 10px 0px black;
    width: 70%;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: height 1s;
    transition: height 1s;
  }
  .container .navbar .mobile-open ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
    gap: 4em;
    text-transform: uppercase;
    text-align: center;
  }
  .container .navbar .mobile-open ul li {
    cursor: pointer;
    font-weight: 600;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    position: relative;
  }
  .container .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 88%;
  }
  .container .navbar nav .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
    width: 25px;
  }
  .container .navbar nav .hamburger div {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-transform-origin: 2px 1px;
            transform-origin: 2px 1px;
    width: 25px;
    height: 2px;
    background-color: black;
    display: block;
  }
  .container .navbar nav .hamburger div:not(:last-child) {
    margin-bottom: 5px;
  }
  .container .navbar nav ul {
    display: none;
  }
  .container .mini .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
  }
  .container .mini .first {
    height: 100vh;
  }
}

@media only screen and (max-width: 974px) {
  .section1 section {
    height: 450px;
  }
  .section1 section .main-pic {
    height: 100%;
  }
}

@media only screen and (max-width: 926px) {
  .section1 section .section1-wrap .surround-text .up .surround-left .text h1 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media only screen and (max-width: 904px) {
  .container .section1 section .section1-wrap .surround-text .up {
    padding: 0 1em;
  }
  .container .section1 section .section1-wrap .surround-text .up .surround-left .text h1 {
    font-size: 3.3rem;
  }
  .container .section1 section .section1-wrap .surround-text .up .surround-left .text p {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 662px) {
  .container .section1 section .section1-wrap .surround-text .up {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .section1 section .section1-wrap .surround-text .up .surround-left .left-arrow {
    display: none;
  }
  .container .section1 section .section1-wrap .surround-text .up .surround-left .text h1 {
    text-align: center;
  }
  .container .section1 section .section1-wrap .surround-text .up .surround-left .text p {
    text-align: center;
  }
  .container .section1 section .section1-wrap .surround-text .up .surround-right {
    display: none;
  }
}

@media only screen and (max-width: 410px) {
  .container .section1 section .section1-wrap .surround-text .up .surround-left .text h1 {
    font-size: 12vw;
  }
  .container .section1 section .section1-wrap .surround-text .up .surround-left .text p {
    font-size: 5vw;
  }
}

@media only screen and (max-width: 614px) {
  .container .section1 section {
    height: 400px;
  }
  .container .section1 section .main-pic {
    height: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .container .section1 section {
    height: 350px;
  }
  .container .section1 section .main-pic {
    height: 100%;
  }
}

@media only screen and (max-width: 1098px) {
  .container .appointment {
    padding: 2em 0;
  }
  .container .appointment .appointment-wrap {
    gap: 3em;
  }
  .container .appointment .appointment-wrap .appoint-right {
    top: 0;
  }
}

@media only screen and (max-width: 1044px) {
  .container .appointment .appointment-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .appointment .appointment-wrap .appoint-left .heading {
    text-align: center;
  }
  .container .appointment .appointment-wrap .appoint-left .heading h1 {
    line-height: 1;
    margin-bottom: .5em;
  }
  .container .appointment .appointment-wrap .appoint-left .discription {
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .appointment .appointment-wrap .appoint-right {
    width: 80%;
    height: 450px;
  }
}

@media only screen and (max-width: 1044px) {
  .container .appointment .appointment-wrap .appoint-left .discription .same3 {
    border: 1px solid white;
    -webkit-box-shadow: 0px 0px 10px 0px #e5e5e5;
            box-shadow: 0px 0px 10px 0px #e5e5e5;
    padding: 1em 1em;
  }
  .container .appointment .appointment-wrap .appoint-left .discription .same3 img {
    width: 40%;
  }
}

@media only screen and (max-width: 332px) {
  .container .appointment .appointment-wrap .appoint-left .heading h1 {
    font-size: 14vw;
  }
}

@media only screen and (max-width: 586px) {
  .container .appointment .appointment-wrap .appoint-right form {
    width: 80%;
    padding: 2em 0;
  }
  .container .appointment .appointment-wrap .appoint-right form .same4 {
    width: 100%;
  }
}

@media only screen and (max-width: 570px) {
  .container .appointment .appointment-wrap .appoint-left {
    width: 100%;
  }
  .container .appointment .appointment-wrap .appoint-left .discription .same3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1em;
  }
  .container .appointment .appointment-wrap .appoint-left .discription .same3 img {
    width: 80px;
  }
  .container .appointment .appointment-wrap .appoint-left .discription .same3 .disc-text {
    text-align: center;
  }
}

@media only screen and (max-width: 382px) {
  .container .appointment .appointment-wrap {
    width: 90%;
  }
  .container .appointment .appointment-wrap .appoint-right {
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  .container .news .news-wrap .button button {
    width: 150px;
  }
}

@media only screen and (max-width: 350px) {
  .container .sponsors .sponsor-wrap img {
    width: 65%;
  }
}

@media only screen and (max-width: 1014px) {
  .container .footer footer .subscribe {
    text-align: center;
  }
  .container .footer footer .subscribe .sub-btn input {
    padding-right: 6.9em;
  }
  .container .footer footer .subscribe .sub-btn input::-webkit-input-placeholder {
    font-size: 1.1rem;
  }
  .container .footer footer .subscribe .sub-btn input:-ms-input-placeholder {
    font-size: 1.1rem;
  }
  .container .footer footer .subscribe .sub-btn input::-ms-input-placeholder {
    font-size: 1.1rem;
  }
  .container .footer footer .subscribe .sub-btn input::placeholder {
    font-size: 1.1rem;
  }
  .container .footer footer .subscribe .sub-btn button {
    width: 130px;
  }
}

@media only screen and (max-width: 818px) {
  .container .footer footer {
    gap: 5em;
  }
  .container .footer footer .subscribe .sub-btn input {
    padding-right: 1.3em;
  }
  .container .footer footer .subscribe .sub-btn button {
    position: unset;
    margin-top: .5em;
    height: 45px;
  }
}

@media only screen and (max-width: 726px) {
  .container .footer footer {
    gap: 5em;
  }
  .container .footer footer .subscribe .sub-btn {
    width: 80%;
    height: 50px;
  }
  .container .footer footer .subscribe .sub-btn input {
    padding-left: 1em;
    padding-right: .5em;
  }
}

@media only screen and (max-width: 370px) {
  .container .footer footer {
    gap: 5em;
  }
  .container .footer footer .subscribe .sub-btn {
    width: 90%;
  }
}

@media only screen and (max-width: 776px) {
  .container .footer footer .main-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .footer footer .main-footer .footer-left .presence .address p {
    text-align: center;
  }
}

@media only screen and (max-width: 698px) {
  .container .footer footer .subscribe {
    margin-bottom: 1em;
  }
  .container .footer footer .main-footer .footer-left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
